# Porta do servidor
PORT=8080
# Base de dados PostgreSQL
DB_DATABASE=cyberlearn
DB_USER=postgres
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail App Password)
EMAIL_USER=suporte.cyberlearn@gmail.com
EMAIL_PASS=eixz mtzp chin pwia

# Segredo para assinar os JSON Web Tokens (gerar um valor longo e aleatório)
# Ex.: node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=c90ae4950c9958c7f3a8607def5c447ea19a24bec4393df82c8448659ae2aad8284c5461003b1141e91fb612a26c88aa

#PORT=8080
#DB_DATABASE=cyberlearn
#DB_USER=postgres
#DB_PASSWORD=admin123
#DB_HOST=localhost
#DB_PORT=5432
#EMAIL_USER=suporte.cyberlearn@gmail.com
#EMAIL_PASS=eixz mtzp chin pwia
#JWT_SECRET=c90ae4950c9958c7f3a8607def5c447ea19a24bec4393df82c8448659ae2aad8284c5461003b1141e91fb612a26c88aa